<h1> Event Management System </h1>
<p> Welcome to the Event Management System. You can view and book tickets for various events here. </p>
<% if !user_signed_in? %>
    <p> <%= link_to "Login", new_user_session_path %> </p>
<% end %>
<h1>All Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Venue</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.date %></td>
        <td><%= event.venue %></td>
        <td>
          <%= link_to 'Book Event', new_api_v1_booking_path(event), class: 'btn btn-primary' %>
          <%= link_to 'Show', api_v1_show_event_path(event), class: 'btn btn-info' %>
          <%= link_to 'Edit', edit_api_v1_event_path(event), class: 'btn btn-warning' %>
          <%= link_to 'Delete', api_v1_delete_event_path(event), data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create New Event', new_api_v1_event_path, class: 'btn btn-success' %>
